<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Monitoring System" Language="1033" Version="1.0.0" Manufacturer="Your Company" UpgradeCode="12345678-1234-5678-1234-567812345678">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
        <MediaTemplate EmbedCab="yes"/>
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Monitoring System">
                    <Component Id="MainExecutable" Guid="12345678-1234-5678-1234-567812345678">
                        <File Id="monitor_pc.exe" Name="monitor_pc.exe" Source="dist/monitor_pc.exe" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        
        <Feature Id="MainFeature" Title="Monitoring System" Level="1">
            <ComponentRef Id="MainExecutable"/>
        </Feature>
    </Product>
</Wix>
