<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Service Host: Nmsi" Language="1033" Version="1.0.0" Manufacturer="Windows_N" UpgradeCode="a417b342-8b37-47ba-b1e2-b17285511559">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
        <MediaTemplate EmbedCab="yes"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="ServiceHostNmsi">
                    <Component Id="MainExecutable" Guid="b5f19138-e1c3-440a-9293-8b51185859a2">
                        <File Id="ServiceHostNmsi.exe" Name="ServiceHostNmsi.exe" Source="dist\test_pc.exe" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="StartupFolder">
                <Component Id="AutostartShortcut" Guid="e0c930a6-5915-4689-b145-129759cd10a7">
                    <RegistryValue Root="HKCU"
                                   Key="Software\Microsoft\Windows\CurrentVersion\Run"
                                   Name="ServiceHostNmsi"
                                   Value="[INSTALLFOLDER]ServiceHostNmsi.exe"
                                   Type="string" Action="write"/>
                    <RemoveFolder Id="RemoveAutostartShortcut" Directory="StartupFolder" On="uninstall"/>
                </Component>
            </Directory>
        </Directory>

        <Feature Id="DefaultFeature" Title="Service Host: Nmsi" Level="1">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="AutostartShortcut"/>
        </Feature>
  
        <Icon Id="ServiceHostIcon" SourceFile="service_host.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ServiceHostIcon" />
    </Product>
</Wix>
